/* div{
    font-size: 3em;
    background: wheat
    color blue;
  }
  p{
    font-size: 3em;
    background: wheat
  } */
  #div2 {
    color: blue;
  }
  a  {
      color: yellow;
  }

   ul {
    font-weight : bold;
   }

   .item{
       font-size: 18px;
   }
   
   div.item span{
        font-style: italic;
    }